<!doctype html>
<html>
<head>
	<title>Hero Idea</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-theme.min.css">

	<script src="js/jquery-1.11.1.js"></script>
	<script src="js/underscore-min.js"></script>
	<script src="js/backbone.js"></script>

	<script src='js/hero_idea.js'></script>
	
	<script src='js/models/idea.js'></script>	
		<script src='js/collections/ideas.js'></script>
	<script type="text/template" id='idea-index'>
		<table class='table table-responsive'>
			<thead>
				<tr>
					<th>Title</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
			<% _.each(ideas, function(idea){ %>
				<tr>
					<td><%= idea.get('title') %></td>
					<td><%= idea.get('description') %></td>	
			<% }) %>
			</tbody>
		</table>
	</script>
	
	<script src='js/views/ideas_index.js'></script>	
	<script src='js/routers/hero_idea_router.js'></script>	
	<!-- // <script src='utils/composite_view.js'></script>	 -->

	
<script>$(HeroIdea.initialize);</script>	
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
