<!doctype html>
<html>
<head>
	<meta name='viewport' content='width=device-width, intial-scale-1'>
	<script type='application/javascript' src='js/fastclick.js'></script>
	<link rel="stylesheet" href="css/ideas.css">
	<title>Hero Idea</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-theme.min.css">

	<script src="js/jquery-1.11.1.js"></script>
	<script src="js/underscore-min.js"></script>
	<script src="js/backbone.js"></script>
	<script src='js/bootstrap.min.js'></script>
	<script src='js/hero_idea.js'></script>
	
	<script src='js/models/idea.js'></script>	
		<script src='js/collections/ideas.js'></script>
	<script type="text/template" id='idea-index'>
		
		<div class="panel-group" id="accordion">
			<% _.each(ideas, function(idea){ %>
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title" data-id="<%=idea.escape('id')%>">
								<%= idea.escape('title') %>
								<span class='right-slider glyphicon glyphicon-chevron-right'></span>
						</h4>
					</div>
				  <div id="<%=idea.escape('id')%>" class="panel-collapse collapse in">
				       <div class="panel-body">
								 <%= idea.escape('description')%>
							 </div>
					 </div>
				 </div>
			
			<% }) %>
			<!-- _.each($('a'), function(tag){
				tag.preventDefault();
			}); -->
	</div>
	
	</script>
	<script>
	$(function() {
	    FastClick.attach(document.body);
	});
	</script>
	<script src='js/views/ideas_index.js'></script>	
	<script src='js/routers/hero_idea_router.js'></script>	
	<!-- // <script src='utils/composite_view.js'></script>	 -->

	
<script>$(HeroIdea.initialize);</script>	
	<style>

	</style>
</head>
